@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-stretch: normal;
    src: url(./KFOMCnqEu92Fr1ME7kSn66aGLdTylUAMQXC89YmC2DPNWuaabVmUiA8.ttf)
        format("truetype");
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
    src: url(./KFOMCnqEu92Fr1ME7kSn66aGLdTylUAMQXC89YmC2DPNWubEbVmUiA8.ttf)
        format("truetype");
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-stretch: normal;
    src: url(./KFOMCnqEu92Fr1ME7kSn66aGLdTylUAMQXC89YmC2DPNWub2bVmUiA8.ttf)
        format("truetype");
}
