name: Test and Release

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-python@v2
        with:
          python-version: "3.9"

      # Install and run pre-commit
      - run: |
          pip install pre-commit
          pre-commit install
          pre-commit run --all-files

  pytest:
    name: Pytest ${{ matrix.config.name }}
    runs-on: ${{ matrix.config.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.9]
        config:
        - {
            name: "Linux",
            os: ubuntu-latest
          }
        - {
            name: "MacOSX",
            os: macos-latest
          }
        - {
            name: "Windows",
            os: windows-latest
          }

    defaults:
      run:
        shell: bash

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install and Run Tests
      run: |
        pip install .
        pip install -r tests/requirements.txt
        # Run the tests with coverage so we get a coverage report too
        pip install coverage
        coverage run --source . -m pytest .
        # Print the coverage report
        coverage report -m

    - name: Upload Coverage to Codecov
      uses: codecov/codecov-action@v3

  test-npm-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set Up Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Build Vue2 Components
        run: |
          cd vue2
          npm ci
          npm run build

      - name: Build Vue3 Components
        run: |
          mkdir -p trame_vuetify/module/vue3-serve/{fonts,css}
          cd trame_vuetify/module/vue3-serve
          curl https://cdn.jsdelivr.net/npm/vuetify@3.4.10/dist/vuetify.min.css -Lo vuetify3.css
          curl https://cdn.jsdelivr.net/npm/vuetify@3.4.10/dist/vuetify.min.js -Lo vuetify3.js
          curl https://cdn.jsdelivr.net/npm/@mdi/font@7.x/css/materialdesignicons.min.css -Lo css/mdi.css
          curl https://cdn.jsdelivr.net/npm/@mdi/font@7.x/fonts/materialdesignicons-webfont.woff2 -Lo fonts/materialdesignicons-webfont.woff2

  release:
    needs: [pre-commit, pytest, test-npm-build]
    runs-on: ubuntu-latest
    if: github.event_name == 'push'

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set Up Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Build Vue2 Components
        run: |
          cd vue2
          npm ci
          npm run build

      - name: Build Vue3 Components
        run: |
          mkdir -p trame_vuetify/module/vue3-serve/{fonts,css}
          cd trame_vuetify/module/vue3-serve
          curl https://cdn.jsdelivr.net/npm/vuetify@3.3.9/dist/vuetify.min.css -Lo vuetify3.css
          curl https://cdn.jsdelivr.net/npm/vuetify@3.3.9/dist/vuetify.min.js -Lo vuetify3.js
          curl https://cdn.jsdelivr.net/npm/@mdi/font@7.x/css/materialdesignicons.min.css -Lo css/mdi.css
          curl https://cdn.jsdelivr.net/npm/@mdi/font@7.x/fonts/materialdesignicons-webfont.woff2 -Lo fonts/materialdesignicons-webfont.woff2

      - name: Python Semantic Release
        uses: relekang/python-semantic-release@v7.34.6
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          repository_username: __token__
          repository_password: ${{ secrets.PYPI_API_TOKEN }}
